*, :before, :after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: purple;
  font-family: Roboto;
}

input[name="tabs"] {
  display: none;
}
input[name="tabs"]#tab-1:checked ~ .content .tab:nth-of-type(1) {
  display: inline-block;
}
input[name="tabs"]#tab-1:checked ~ .tabs label:nth-child(1) {
  color: #242b36;
}
input[name="tabs"]#tab-1:checked ~ .tabs label:nth-child(1):after {
  width: calc(100% - 40px);
  transition: .3s;
}
input[name="tabs"]#tab-2:checked ~ .content .tab:nth-of-type(2) {
  display: inline-block;
}
input[name="tabs"]#tab-2:checked ~ .tabs label:nth-child(2) {
  color: #242b36;
}
input[name="tabs"]#tab-2:checked ~ .tabs label:nth-child(2):after {
  width: calc(100% - 40px);
  transition: .3s;
}
input[name="tabs"]#tab-3:checked ~ .content .tab:nth-of-type(3) {
  display: inline-block;
}
input[name="tabs"]#tab-3:checked ~ .tabs label:nth-child(3) {
  color: #242b36;
}
input[name="tabs"]#tab-3:checked ~ .tabs label:nth-child(3):after {
  width: calc(100% - 40px);
  transition: .3s;
}
input[name="tabs"]#tab-4:checked ~ .content .tab:nth-of-type(4) {
  display: inline-block;
}
input[name="tabs"]#tab-4:checked ~ .tabs label:nth-child(4) {
  color: #242b36;
}
input[name="tabs"]#tab-4:checked ~ .tabs label:nth-child(4):after {
  width: calc(100% - 40px);
  transition: .3s;
}

.tabs {
  box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.3);
  overflow-X: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  white-space: nowrap;
}
.tabs label {
  display: inline-block;
  padding: 18px;
  position: relative;
  color: #bbc3d1;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.tabs label:after {
  content: '';
  background: #D22C3F;
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .1s;
}

.container {
  background: #FFF;
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 50px 75px -25px rgba(0, 0, 0, 0.3);
  margin: 25px auto;
  overflow: hidden;
}
.container .tab {
  display: none;
  background: #F6F6F6;
  padding: 0 20px;
}
